# Ignore generated outputs and build artifacts
outputs/
website/.docusaurus/
website/package-lock.json
website/node_modules/
node_modules/
.venv_astonish/
node_modules/
.DS_Store
coverage/
npm-debug.log*
dist/*.map
